body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    
}

.header-wrapper {
    background-color: #BCE1EF;
    padding: 10px 80px 0 80px;
    height: 100vh;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #BCE1EF;

}

.logo {
    margin-right: 30px;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #000;
}

.buttons {
    display: flex;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
    margin-left: 10px;
}

.primary {
    background-color: #4F46BA;
    color: #fff;
    border: none;
}

.slogan-container {
    display: flex;
    flex-direction: column;

}

.partners-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F6F8;
    padding-bottom: 20px;

}

.partners {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.partners img {
    width: 100px;
    height: 40px;
}

.body-container {
    padding: 10px 150px 10px 150px ;
}

.first-row {
    display: flex;
    padding: 30px 0 30px 0;

}

.item-grow-shrink {
    flex: 1 1 0;
}

.first-row-first {
    display: flex;
    flex-direction: column;
}

.first-row-second {
    display: flex;
    justify-content: flex-end;
}

.quote-container {
    width: 350px;
    background-color: #dbd8d8ee;
    border-radius: 20px;
    position: relative;
    padding: 30px;

}

.quote-icon {
    position: absolute;
    top: -20px;
    left: 30px;
}

.second-row {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0 20px 0px;
}

.second-row-first, .second-row-second, .second-row-third {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #DBE4E9;
    border-radius: 10px;
    padding: 10px;
}

.card-number {
    align-self: flex-start;
}

.feature-container {
    display: flex;
    flex-direction: column;
    padding: 80px 150px 80px 150px ;
    background-color: #BCE1EF;

}

.features {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin: 20px 0 20px 0px;
    position: relative;
}

.feature-first, .feature-second {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    margin-bottom: 2px;
    padding: 30px;
    background-color: #F5F6F8;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 20vh;
}

.feature-third, .feature-forth {
    background-color: #F5F6F8;
    border-radius: 10px;
}

.feature-icon {
    position: absolute;
    left: -150px;
    bottom: -50px;
}

.testimonial-container {
    padding-bottom: 60px;
}
.testimonial-slogan-container {
    display: flex;
    padding: 50px 150px 50px 150px ;
}

.testimonial-icon-container {
    flex: 1 1 0;
}

.shine-icon {
    flex: 1 1 0;
    display: flex;
    justify-content: flex-end;
    
}

.testimonial-one-container {
    display: flex;
    justify-content: space-evenly;
    flex: 1 1 0;

}

.testimonial-one {
    width: 600px;
    border: 2px solid #CFCFCF;
    border-radius: 10px;
    position: relative;
    padding: 30px;
    display: flex;
}

.testimonial-one-icon {
    position: absolute;
    top: -20px;
    left: 30px;
    display: flex;
}

.testimonial-one-image {
    display: flex;
   
}

.testimonial-two-container {
    display: flex;
    justify-content: flex-start;

}

.testimonial-two {
    width: 600px;
    border: 2px solid #CFCFCF;
    border-radius: 10px;
    position: relative;
    padding: 30px 0 30px 30px;
    display: flex;
}

.testimonial-two-icon {
    position: absolute;
    top: -20px;
    left: 30px;
    display: flex;
}

.testimonial-containers {
    display: flex;
}

.our-services {
    display: flex;
    background-color: #3734A9;
    color: white ;
    padding: 20px;
}

.blog-first-row {
   display: flex;
   padding-bottom:50px ;
} 

.blog-container {
    display: flex;
    flex-direction: column;
    padding: 50px 150px 50px 150px ;

}


.blog-image-one {
    display: flex;

}

.blogs-best-practices {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    position: relative;
}

.blog-first, .blog-second, .blog-third{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2px;
}